# This file may be used to create an environment using:
# $ conda create --name <env> --file <this file>
# platform: win-64
altair=4.0.1=pypi_0
astor=0.8.1=pypi_0
attrs=19.3.0=pypi_0
backcall=0.2.0=pypi_0
base58=2.0.1=pypi_0
blas=1.0=mkl
bleach=3.1.5=pypi_0
blinker=1.4=pypi_0
boto3=1.14.5=pypi_0
botocore=1.17.5=pypi_0
cachetools=4.1.0=pypi_0
certifi=2018.8.24=py35_1
chardet=3.0.4=pypi_0
click=7.1.2=pypi_0
colorama=0.4.3=pypi_0
decorator=4.4.2=pypi_0
defusedxml=0.6.0=pypi_0
docutils=0.15.2=pypi_0
entrypoints=0.3=pypi_0
enum-compat=0.0.3=pypi_0
freetype=2.10.2=hd328e21_0
hdf5=1.8.20=hac2f561_1
icc_rt=2019.0.0=h0cc432a_1
idna=2.9=pypi_0
importlib-metadata=1.6.1=pypi_0
intel-openmp=2019.4=245
ipykernel=5.3.0=pypi_0
ipython=7.9.0=pypi_0
ipython-genutils=0.2.0=pypi_0
ipywidgets=7.5.1=pypi_0
jedi=0.17.0=pypi_0
jinja2=2.11.2=pypi_0
jmespath=0.10.0=pypi_0
joblib=0.14.1=pypi_0
jpeg=9b=hb83a4c4_2
jsonschema=3.2.0=pypi_0
jupyter-client=6.1.3=pypi_0
jupyter-core=4.6.3=pypi_0
libopencv=3.4.2=h20b85fd_0
libpng=1.6.37=h2a8f88b_0
libtiff=4.1.0=h56a325e_1
lz4-c=1.9.2=h62dcd97_0
markupsafe=1.1.1=pypi_0
mistune=0.8.4=pypi_0
mkl=2018.0.3=1
mkl_fft=1.0.6=py35hdbbee80_0
mkl_random=1.0.1=py35h77b88f5_1
nbconvert=5.6.1=pypi_0
nbformat=5.0.7=pypi_0
notebook=6.0.3=pypi_0
numpy=1.15.2=py35ha559c80_0
numpy-base=1.15.2=py35h8128ebf_0
olefile=0.46=py35_0
opencv=3.4.2=py35h40b0b35_0
packaging=20.4=pypi_0
pandas=0.23.4=py35h830ac7b_0
pandocfilters=1.4.2=pypi_0
parso=0.7.0=pypi_0
pathtools=0.1.2=pypi_0
pickleshare=0.7.5=pypi_0
pillow=7.1.2=pypi_0
pip=10.0.1=py35_0
prometheus-client=0.8.0=pypi_0
prompt-toolkit=2.0.10=pypi_0
protobuf=3.12.2=pypi_0
py-opencv=3.4.2=py35hc319ecb_0
pydeck=0.4.0b2=pypi_0
pygments=2.6.1=pypi_0
pyparsing=2.4.7=pypi_0
pyrsistent=0.16.0=pypi_0
python=3.5.6=he025d50_0
python-dateutil=2.8.1=py_0
pytz=2020.1=py_0
pywin32=228=pypi_0
pywinpty=0.5.7=pypi_0
pyzmq=19.0.1=pypi_0
requests=2.24.0=pypi_0
s3transfer=0.3.3=pypi_0
scikit-learn=0.22.2.post1=pypi_0
scipy=1.4.1=pypi_0
send2trash=1.5.0=pypi_0
setuptools=40.2.0=py35_0
six=1.15.0=py_0
sklearn=0.0=pypi_0
streamlit=0.59.0=pypi_0
tbb=2020.0=h74a9793_0
tbb4py=2018.0.5=py35he980bc4_0
terminado=0.8.3=pypi_0
testpath=0.4.4=pypi_0
tk=8.6.10=he774522_0
toml=0.10.1=pypi_0
toolz=0.10.0=pypi_0
tornado=5.1.1=pypi_0
traitlets=4.3.3=pypi_0
tzlocal=2.1=pypi_0
urllib3=1.25.9=pypi_0
validators=0.15.0=pypi_0
vc=14.1=h0510ff6_4
vs2015_runtime=14.16.27012=hf0eaf9b_2
watchdog=0.10.2=pypi_0
wcwidth=0.2.4=pypi_0
webencodings=0.5.1=pypi_0
wheel=0.31.1=py35_0
widgetsnbextension=3.5.1=pypi_0
win-unicode-console=0.5=pypi_0
wincertstore=0.2=py35hfebbdb8_0
xz=5.2.5=h62dcd97_0
zipp=1.2.0=pypi_0
zlib=1.2.11=h62dcd97_4
zstd=1.4.4=ha9fde0e_3
